* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */

.container {
    width: 1120px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn-bg-transparent {
    display: inline-block;
    padding: 16px 56px;
    min-width: 79px;
    border-radius: 6px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5; /* 150% */
}

.btn-bg-black {
    display: inline-block;
    padding: 12px 64px;
    min-width: 60px;
    border-radius: 8px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

label::placeholder {
    font-size: 1.5rem;
    color: #a7a7b7;
}

.hello-guest {
    background-color: #fff;
    color: #656565;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    line-height: 2;
}


/* Toast */
#toast {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 9;
}

.toast {
    display: flex;
    align-items: center;
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #ffffff, #ece9e6 ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #ffffff, #ece9e6 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 4px;
    border-left: 4px solid;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08);
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast + .toast {
    margin-top: 24px;
}

.toast__icon img {
    width: 35px;
    height: 35px;
}

.toast-userSuccess {
    border-color: #2f86eb;
}

.toast-success {
    border-color: #47d864;
}


.toast-info {
    border-color: #2f86eb;
}


.toast-warning {
    border-color: #ffc021;
}



.toast-error {
    border-color: #ff623b;
}


.toast__icon,
.toast__close {
    padding: 0 20px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.toast__msg {
    margin-top: 6px;
    font-size: 14px;
    color: #000;
    line-height: 1.5;
}

.toast__close img {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

/* Header */

.header {
    position: sticky;
    top: 0px;
    z-index: 2;
    background: #fff;
    padding: 16px 0;
    border-bottom: 1px solid #b5b5b5;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-search {
    position: relative;
}

.form-search__input {
    width: 372px;
    height: 56px;
    padding: 0 16px 0 48px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #f5f5f5;
    color: #656565;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.28; /* 128.571% */
}

    .form-search__input::placeholder {
        color: #656565;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.28; /* 128.571% */
    }

.form-search__icon {
    position: absolute;
    top: 0;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 52px;
}

.navbar__item {
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0.3;
}

.navbar__item-action {
    opacity: 1;
}

.header-action {
    display: flex;
    gap: 24px;
    align-items: center;
}

    .header-action a:nth-child(2) {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

.counter-product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 3px;
}

    .counter-product:before {
        content: "";
        display: inline-block;
        position: absolute;
        border-color: transparent #000 transparent transparent;
        border-width: 10px;
        border-style: solid;
        left: -18px;
        top: 50%;
        transform: translateY(-50%);
    }

/* Main top */
.main-top {
    /* padding: 40px 0; */
}

.main-top__body {
    display: flex;
    align-items: center;
    gap: 16px;
}

.main-top__link {
    color: #a4a4a4;
    font-size: 1.6rem;
    font-weight: 500;
}

.main-top__link-action {
    color: #000;
}

/* Main */
.main-top {
    margin: 60px;
}

.main-top__heading {
    color: #000;
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
}

/* Product info */

.product-info {
    margin: 60px 0;
}

.product-info__inner {
    display: flex;
    justify-content: space-between;
}

/* Left */

.product-info__left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.choose-img__label {
    display: inline-block;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
    letter-spacing: 0.04px;
}

.choose-img__message {
    color: #a7a7b7;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    font-style: italic;
    margin-bottom: 20px;
}

.img-product__input {
    border-radius: 15%;
    height: 392px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.desc-product {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc-product__label {
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
    letter-spacing: 0.04px;
}

.desc-product__input {
    resize: none;
    outline: none;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1.5rem;
    color: #000;
}

.product-info__control {
    display: flex;
    justify-content: space-between;
}

.product-info__btn {
    cursor: pointer;
    display: flex;
    padding: 12px 64px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #000;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* Right */

.form-message {
    color: #ff0000;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    font-style: italic;
}
.product-info__right {
    width: 60%;
}

.product-info__item {
    margin: 30px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-info__label {
    width: 170px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
    letter-spacing: 0.04px;
}

.product-info__input {
    font-size: 1.5rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 12px;
    color: #000;
    padding: 8px 20px;
    width: 50%;
}

.product-info__unit {
    font-size: 1.5rem;
    color: #a7a7b7;
}

.product-info__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

    .product-info__row .product-info__input {
        width: 30%;
    }

/* Table */

hr {
    background-color: #ccc;
    height: 1px;
    width: 60%;
}

.product-display {
    margin: 60px 0;
}

.product-display__heading {
    color: #000;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}

.product-table {
    width: 95%;
    min-height: 25vh;
    max-height: 90vh;
    overflow: auto;
    margin: 0 auto;
    overscroll-behavior: contain;
}

.product-table__inner {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0px;
    background: #fff;
}

th,
td {
    color: #000;
    font-size: 1.5rem;
    line-height: 1.33; /* 133.333% */
    padding: 8px;
    border: 1px solid #ccc;
    width: 150px;
}

td {
    vertical-align: top;
}

    td:first-child, td:nth-child(2) {
        text-align: center;
        vertical-align: middle;
        width: 35px;
        height: 35px;
    }

tbody tr:nth-child(odd) {
    background: #f5f5f5;
}


.updateIcon, .removeIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.imgTable {
    width: 100%;
    max-height: 134px;
    object-fit: cover;
    object-position: center;
}

/* Footer */
.footer {
    padding: 104px 0;
    background: #000;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    width: 26%;
}

    .footer__column:first-child {
        width: 34%;
    }


.footer__desc {
    margin-top: 24px;
    color: #cfcfcf;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 170.5%; /* 23.87px */
}



.footer__title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer__link {
    margin-top: 8px;
    color: #cfcfcf;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.28; /* 228.571% */
}

.footer-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
